{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class ="row center-align">

    <div class="col s12">
        <i class="large material-icons green-text">check_circle</i>
    </div>
      <div class="col s12">
         <h3> We have emailed you instructions to reset your password</h4>
         <p> If an account exists with the email you entered. You will receive the token.</p>
         <p> Make sure you have netered the correct details.</p>
         
    </div>
        

   

</div>

{% endblock %}
